@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* background-image: url("public/Images/BackgroundImages/InsaneHeight.svg"); */
	/* background-size: cover; /* Adjusted from 100% */
	/* min-height: 110vh;     Assuming you meant 5000 viewport heights */
	background-color: #fbfef9;
}

.appContainer {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	height: 100vh;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	overflow-y: auto;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

p {
	font-family: "Raleway", sans-serif;
	font-style: italic;
	font-weight: 200;
}

li,
a {
	font-family: "Playfair Display", sans-serif;
	font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Playfair Display", sans-serif;
	font-weight: 500;
}
