/* Existing Styles */
.aboutPageSection {
	/* background-color: #dcd9d5; */
	display: flex;
	flex-direction: column;
	height: 100vh;
	scroll-snap-align: center;
	justify-content: center;
	align-items: center;
}

.aboutPageContainer {
	height: 90%;
	width: 80%;
	display: flex;
	flex-direction: row;
	border: #70798c 2px solid;
	border-radius: 5px;
}

.aboutPageLeft {
	flex: 1;
	display: flex;
	flex-direction: column;
	background: #373f51;
	width: 100%;
	left: 0%;
	border: 2px solid #70798c;
	border-radius: 5px;
	padding-right: 3px;
	margin-right: 3px;
}

.homeInfo {
	text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
		2px 2px 0 #000;
}

.home2ndHeader {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
		2px 2px 0 #000;
}

.aboutPageText {
	justify-content: center;
	display: flex;
	flex-direction: column;
	width: 90%;
	padding: 30px;
	align-items: center;
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
	padding-left: 2%;
	padding-right: 2%;
}

.aboutPageRight {
	flex: 1;
	color: white;
	display: flex;
	justify-content: end;
	position: relative;
	overflow: hidden;
	margin-left: 3px;
	height: 100%;
}

.imageIn,
.imageOut {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 2s ease-out;
}

.imageIn {
	z-index: 2;
	transform: translateX(0);
}

.imageOut {
	z-index: 1;
	transform: translateX(-100%);
}

.aboutPageRight img.imageIn {
	animation: slideIn 2s ease-out forwards;
}

.aboutPageRight img.imageOut {
	animation: slideOut 2s ease-out forwards;
}

@keyframes slideIn {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes slideOut {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

/* Media Queries for Responsiveness */
/* Mobile (small) */
@media (max-width: 480px) {
	.aboutPageContainer {
		flex-direction: column;
	}

	.aboutPageLeft,
	.aboutPageRight {
		width: 100%;
		padding: 10px 0;
	}
}

/* Mobile (landscape) and Tablets (portrait) */
@media (max-width: 768px) {
	.aboutPageContainer {
		flex-direction: column;
	}

	.aboutPageLeft,
	.aboutPageRight {
		width: 100%;
		padding: 15px 0;
	}
}

/* Tablets (landscape) and smaller laptops/screens */
@media (max-width: 1024px) {
	.aboutPageContainer {
		flex-direction: column;
	}

	.aboutPageLeft,
	.aboutPageRight {
		width: 100%;
		padding: 20px 0;
	}
}

/* Laptops and desktops */
@media (max-width: 1200px) {
	.aboutPageContainer {
		flex-direction: column;
	}

	.aboutPageLeft,
	.aboutPageRight {
		width: 100%;
		padding: 25px 0;
	}
}
