.kitchenPageSection {
	display: flex;
	flex-direction: column;
	height: 100vh;
	scroll-snap-align: center;
	justify-content: center;
	align-items: center;
}

.kitchenPageContainer {
	height: 90%;
	width: 80%;
	display: flex;
	flex-direction: row;
	border: #70798c 2px solid;
	border-radius: 5px;
}

.kitchenPageLeft {
	flex: 1;
	display: flex;
	flex-direction: column;
	background: #373f51;
	width: 100%;
	left: 0%;
	border: 2px solid #70798c;
	border-radius: 5px;
	padding-right: 3px;
	margin-right: 3px;
}

.kitchenPageText {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 30px;
	align-items: center;
	color: white;
	text-decoration: none;
	font-size: 1vw;
	flex-shrink: inherit;
}

.kitchenPageRight {
	flex: 1;
	color: white;
	display: flex;
	justify-content: end;
	position: relative;
	overflow: hidden;
	margin-left: 3px;
	height: 100%;
}

.imageIn,
.imageOut {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 2s ease-out;
}

.imageIn {
	z-index: 2;
	transform: translateX(0);
}

.imageOut {
	z-index: 1;
	transform: translateX(-100%);
}

.kitchenPageRight img.imageIn {
	animation: slideIn 2s ease-out forwards;
}

.kitchenPageRight img.imageOut {
	animation: slideOut 2s ease-out forwards;
}

@keyframes slideIn {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes slideOut {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}
